/* app css stylesheet */

body {
  margin: 1em;
  background-image: url("assets/images/calculator.jpeg");
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  -webkit-text-stroke: 1px #000;
}

h3 {
  margin-top: 0;
}

h6 {
  position: absolute;
  right: 0;
  bottom: 0;
}

textarea {
  width: 100%;
  height: 20em;
  display: block;
  border: 2px solid #ccc;
}

input {
  margin-top: 1em;
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.simple-form {
  margin-left: 5%;
  float: left;
  width: 50%;
}

.calc {
  border: 2px solid #ccc;
  margin-left: 57%;
  margin-right: 5%;
  padding-left: 5px;
  background-color: #fff;
}

ul {
  padding: none;
}

.name {
  color: #4CAF50;
  font-weight: bold;
}

.value {
  font-weight: bold;
}
