/* app css stylesheet */

body {
  margin: 1em;
}

textarea {
  width: 60%;
  height: 20em;
  display: block;
}

input {
  margin-top: 1em;
}

.calc {
  width: 20%;
  float: right;
}

.name {
  color: green;
}
