<div ng-controller="mainViewCtrl">
  <form novalidate class="simple-form">
    <textarea ng-model="jsCode" placeholder="Paste your code here"></textarea>
    <input type="submit" ng-click="checkJSCode(jsCode); checkCalc(jsCode)" value="Check Result" />
  </form>
  <div class="calc">
    <h3>Complexity Calculation</h3>
    <ul>
      <li ng-repeat="result in calcResults">
        <span class="name">{{result.name}}:</span>
        <span class="value"> +{{result.value}}</span>
      </li>
    </ul>
    <h3>Result: <span id="checkResult">{{checkResult}}</span></h3>
  </div>
</div>
